<a class="item" href="{{AppSubUrl}}/assets/privacy.html">Privacy Policy</a>
<a class="item" href="{{AppSubUrl}}/assets/tos.html">Privacy Policy</a>
<a class="item" href="{{AppSubUrl}}/assets/imprint.html">Privacy Policy</a>